* {
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  h3 {
    margin-bottom: 40px;
  }
  
  p {
      margin-bottom: 20px;
  }
  
  .chorus {
    font-style: italic;
  }